[submodule "vendor/spatialrust"]
	path = vendor/spatialrust
	url = https://github.com/rsasaki0109/SpatialRust
[submodule "inlier-data"]
	path = inlier-data
	url = https://github.com/soraxas/inlier-data
